SHOPIFY_API_KEY=9da46159e4de788dab1f3cc2533551e4
SHOPIFY_API_SECRET=
SCOPES=read_products,write_products,read_customers,write_customers,read_orders,write_orders
HOST=https://plugin.ifeedog.com
APP_URL=https://plugin.ifeedog.com
DATABASE_URL=postgresql://postgres:password@db:5432/feedobridge
REDIS_URL=redis://redis:6379
JWT_SECRET=
FEEDOGO_BASE_URL=https://shop.feedogocloud.com
FEEDOGO_API_KEY=
SSO_SECRET=
